/* You can add global styles to this file, and also import other style files */
body{
    background-color: #FF8B91;
    margin: 0;
    min-width: 220px;
    max-width: 1400px;
    font-family: 'Catamaran', sans-serif;
}

a{
    text-decoration: none;
}

header{
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    i{
        font-size: 22px;
        color: #FF9599;
        cursor: pointer;
    }
}